/**
 * @file
 * Green color styling for Enterprise+.
 *
 * Base color: #52BF90
 * Dark color: #317256
 * RGB Base color: 82, 191, 144
 * RGB Dark color: 49, 114, 86
 */

/* base: elements */
a {
  color: #52BF90;
}
a:hover {
  color: #317256;
}
a:focus {
  color: #317256;
}
a.link--dark,
.link--dark a {
  color: #317256;
}
a.link--dark:hover,
a.link--dark:focus,
.link--dark a:hover,
.link--dark a:focus {
  color: #52BF90;
}
a.link--bordered,
.link--bordered a {
  border-bottom-color: #52BF90;
}
a.link--bordered:hover,
.link--bordered a:hover {
  border-bottom-color: #317256;
}
.region--light-typography.region--dark-background a.link--bordered,
.region--light-typography.region--dark-background .link--bordered a {
  border-color: #52BF90;
}
a.link--hover-style-2:before,
.link--hover-style-2 a:before {
  color: #52BF90;
}
.region--light-typography.region--dark-background a {
  color: #52BF90;
}
.text--colored {
  color: #52BF90;
}
.text--dark {
  color: #317256;
}
blockquote {
  border-left-color: #52BF90;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #317256;
}

/* base: layout */
.region--colored-background {
  background-color: #52BF90;
}
.region--dark-background {
  background-color: #317256;
}
.region--colored-background + .region--separator-incline-diagonal:before {
  background: linear-gradient(to bottom right, #52BF90 49.5%, transparent 50%);
}
.region--dark-background + .region--separator-incline-diagonal:before {
  background: linear-gradient(to bottom right, #317256 49.5%, transparent 50%);
}
.region--colored-background + .region--separator-decline-diagonal:before {
  background: linear-gradient(to bottom left, #52BF90 49.5%, transparent 50%);
}
.region--dark-background + .region--separator-decline-diagonal:before {
  background: linear-gradient(to bottom left, #317256 49.5%, transparent 50%);
}

/* components: accordion */
.panel-title a {
  color: #317256;
}
.panel-title a:focus {
  color: #317256;
}
.panel-heading--trigger-icon .panel-title a:after {
  background-color: #317256;
}
.panel-heading--trigger-icon .panel-title a.collapsed:after {
  background-color: #52BF90;
}
.panel-heading--trigger-icon .panel-title a:hover:after {
  background-color: #317256;
}
.region--light-typography .panel-title a:hover {
  color: #317256;
}
.region--light-typography .panel-body a {
  color: #52BF90;
}
.region--light-typography .panel-body a:hover {
  color: #317256;
}
.panel-group.panel-group--style-2 .panel .panel-title a {
  background-color: #317256;
}
.panel-group.panel-group--style-2 .panel-title a.collapsed {
  background-color: #52BF90;
}
.panel-group.panel-group--style-2 .panel-title a:hover {
  background-color: #317256;
}
.region--colored-background .panel-group.panel-group--style-2 .panel-heading--trigger-icon .panel-title a,
.region--colored-background .panel-group.panel-group--style-2 .panel-heading--trigger-icon .panel-title a:hover {
  color: #52BF90;
}
.region--dark-background .panel-group.panel-group--style-2 .panel-heading--trigger-icon .panel-title a,
.region--dark-background .panel-group.panel-group--style-2 .panel-heading--trigger-icon .panel-title a:hover {
  color: #317256;
}

/* components: breadcrumb */
.breadcrumb__items {
  color: #317256;
}

/* components: buttons */
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #52BF90;
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
}
a.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}
a.button.button--hover-style-2:before {
  background-color: #317256;
}
.region--colored-background a.button:hover,
.region--colored-background input[type="submit"]:hover,
.region--colored-background input[type="reset"]:hover,
.region--colored-background input[type="button"]:hover,
.region--colored-background a.button:focus,
.region--colored-background input[type="submit"]:focus,
.region--colored-background input[type="reset"]:focus,
.region--colored-background input[type="button"]:focus {
  color: #52BF90;
}
.region--dark-background a.button:hover,
.region--dark-background input[type="submit"]:hover,
.region--dark-background input[type="reset"]:hover,
.region--dark-background input[type="button"]:hover,
.region--dark-background a.button:focus,
.region--dark-background input[type="submit"]:focus,
.region--dark-background input[type="reset"]:focus,
.region--dark-background input[type="button"]:focus {
  color: #317256;
}
a.button--colored,
.region--colored-background a.button--colored,
.region--dark-background a.button--colored,
.region--black-background a.button--colored {
  background-color: #52BF90;
  border-color: #52BF90;
}

/* components: comment */
.node .comment ul.links li a {
  color: #52BF90;
}
.node .comment ul.links li a:hover {
  color: #317256;
}

/* components: comments */
.comment-wrapper h2.title {
  color: #52BF90;
}

/* components: contact info */
.contact-info .icon {
  background: #52BF90;
}
.contact-info li > i {
  background: #52BF90;
}
.region--light-typography.region--colored-background .contact-info li i,
.region--light-typography.region--colored-background .contact-info .icon {
  color: #52BF90;
}
.region--light-typography.region--dark-background .contact-info li i,
.region--light-typography.region--dark-background .contact-info .icon {
  color: #317256;
}
.region--dark-typography .contact-info-items-grid .contact-info-item__text {
  color: #317256;
}

/* components: fancy block */
.region--colored-background .fancy-block-text {
  background-color: #52BF90;
}
.region--dark-background .fancy-block-text {
  background-color: #317256;
}

/* components: fancy linked images block */
.clip-path-support .clip-pentagon-container {
  background-color: #52BF90;
}
.clip-path-support .clip-circle-container {
  background-color: #52BF90;
}
.clip-path-support .clip-rectangle-container:before {
  border-color: #52BF90;
}
@-moz-document url-prefix() {
  .clip-pentagon-container {
    background-color: #52BF90;
  }
  .clip-circle-container {
    background-color: #52BF90;
  }
  .clip-rectangle-container:before {
    border-color: #52BF90;
  }
}

/* components: featured linked text tiles block */
.featured-linked-text-tile .featured-linked-text-tile__title {
  color: #52BF90;
}
.featured-linked-text-tile .featured-linked-text-tile__title a {
  color: #52BF90;
}
.featured-linked-text-tile .featured-linked-text-tile__title a:hover {
  color: #317256;
}
.featured-linked-text-tile a.featured-linked-text-tile__link {
  color: #52BF90;
}
.featured-linked-text-tile a.featured-linked-text-tile__link:hover {
  color: #317256;
}

/* components: content tabs */
.field--name-field-mt-content-tabs .nav-tabs > li > a {
  color: #52BF90;
}
.field--name-field-mt-content-tabs .nav-tabs > li > a:hover {
  color: #317256;
}
.field--name-field-mt-content-tabs .nav-tabs > li > a:focus,
.field--name-field-mt-content-tabs .nav-tabs > li.active > a,
.field--name-field-mt-content-tabs .nav-tabs > li.active > a:focus,
.field--name-field-mt-content-tabs .nav-tabs > li.active > a:hover {
  color: #317256;
}

/* components: video */
.video-item > a:before {
  background-color: rgba(49, 114, 86, 0.75);
}

/* components: taxonomy term */
.field--entity-reference-target-type-taxonomy-term:after {
  color: #52BF90;
}

/* components: flexslider global */
.flexslider .flex-direction-nav a:before {
  color: #52BF90;
}
.flexslider .flex-prev:hover:before,
.flexslider .flex-next:hover:before {
  color: #317256;
}

/* components: flexslider nodes slideshow */
.nodes-slideshow-navigation .slides > li.is-active a {
  color: #317256;
}

/* components: forms */
input.form-text:hover,
input.form-tel:hover,
input.form-email:hover,
input.form-url:hover,
input.form-search:hover,
input.form-file:hover,
input.form-number:hover,
input.form-color:hover,
textarea:hover,
select:hover,
input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-search:focus,
input.form-file:focus,
input.form-number:focus,
input.form-color:focus,
textarea:focus,
select:focus {
  color: #317256;
}
.form-submit-icon {
  background-color: #52BF90;
}
.region--colored-background .form-submit-icon {
  background-color: #317256;
}
.label {
  color: #317256;
}

/* components: highlights */
.highlight-head {
  color: #317256;
  border-color: #52BF90;
}
.highlight-body {
  color: #317256;
}

/* components: image overlay */
.overlay--colored {
  background-color: rgba(49, 114, 86, 0.75);
}
.overlay-icon--colored.overlay-icon--button {
  background-color: #52BF90;
  border-color: #52BF90;
}
.overlay-icon--white.overlay-icon--button:hover,
.region--light-typography .overlay-icon--white.overlay-icon--button:hover {
  color: #317256;
}
.overlay-icon--colored.overlay-icon--button:hover,
.region--light-typography .overlay-icon--colored.overlay-icon--button:hover {
  background-color: #317256;
  border-color: #317256;
}

/* components: layout switcher */
.layout-switcher li.active a {
  color: #52BF90;
}

/* components: menu */
ul.menu li a.is-active {
  color: #317256;
}
ul.menu li > a:before {
  color: #317256;
}
.header-container ul.menu li a {
  color: #317256;
}
.header-container ul.menu li a:hover,
.header-container ul.menu li.active-trail > a {
  color: #52BF90;
}
.header-container .region--light-typography ul.menu li a:hover,
.header-container .region--light-typography ul.menu li.active-trail > a {
  color: #52BF90;
}
.region--dark-typography .subfooter__section ul.menu li a {
  color: #317256;
}
.region--dark-typography .subfooter__section ul.menu li a:hover {
  color: #52BF90;
}
.header-container .sf-menu li.sfHover > a,
.header-container .region--light-typography .sf-menu li.sfHover > a {
  /*color: #52BF90;*/
}
.header-container ul.sf-menu > li > a.menuparent:after {
  color: #52BF90;
}
.menu.cta-active > li:last-child > a {
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  background-color: #52BF90;
}
.menu.cta-active > li:last-child > a:hover {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}
.region--colored-background .menu.cta-active > li:last-child > a {
  color: #52BF90;
}
.region--light-typography.js-transparent-header ul.menu.sf-accordion li a {
  color: #317256;
}

/* components: mini pager */
li.pager__item a:hover {
  background-color: #52BF90;
}
.region--gray-background li.pager__item > a,
.region--gray-background li.pager__item.is-active {
  background-color: #317256;
}
.region--gray-background li.pager__item > a:hover {
  background-color: #52BF90;
}
.region--colored-background li.pager__item a:hover {
  color: #52BF90;
}
.region--dark-background li.pager__item a:hover {
  color: #317256;
}

/* components: node links */
.node ul.links li a {
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  background-color: #52BF90;
}
.node ul.links li a:hover {
  background-color: #317256;
}

/* components: node product */
.node--type-mt-product .comments-count__counter {
  color: #52BF90;
}
.node--type-mt-product .field--name-field-mt-price {
  color: #52BF90;
}
.node--type-mt-product .field--name-field-mt-buy-link a {
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  background-color: #52BF90;
}
.node--type-mt-product .field--name-field-mt-buy-link a:hover {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}
.region--colored-background .field--name-field-mt-buy-link a:hover {
  color: #52BF90;
}
.region--dark-background .field--name-field-mt-buy-link a:hover {
  color: #317256;
}

/* components: node service */
.node--type-mt-service .field--name-field-mt-buy-link a {
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  background-color: #52BF90;
}
.node--type-mt-service .field--name-field-mt-buy-link a:hover {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}
.region--colored-background .field--name-field-mt-buy-link a:hover {
  color: #52BF90;
}
.region--dark-background .field--name-field-mt-buy-link a:hover {
  color: #317256;
}

/* components: owl carousel global */
.owl-theme .owl-controls .owl-buttons div {
  color: #52BF90;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  color: #317256;
}

/* components: pager */
li.pager__item a:hover,
li.pager__item.is-active a {
  background-color: #52BF90;
}
.region--colored-background li.pager__item a:hover,
.region--colored-background li.pager__item.is-active a,
.region--colored-background li.pager__item.is-active:last-child a {
  color: #52BF90;
}
.region--dark-background li.pager__item a:hover,
.region--dark-background li.pager__item.is-active a,
.region--dark-background li.pager__item.is-active:last-child a {
  color: #317256;
}
.region--gray-background li.pager__item > a {
  background-color: #317256;
}
.region--gray-background li.pager__item > a:hover,
.region--gray-background li.pager__item.is-active a {
  background-color: #52BF90;
}

/* components: pills */
.nav-pills > li > a {
  background-color: #52BF90;
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}
.region--colored-background .nav-pills > li.active > a,
.region--colored-background .nav-pills > li.active > a:focus,
.region--colored-background .nav-pills > li.active > a:hover,
.region--colored-background .nav-pills > li > a:hover,
.region--colored-background .nav-pills > li > a:focus {
  color: #52BF90;
}
.region--dark-background .nav-pills > li.active > a,
.region--dark-background .nav-pills > li.active > a:focus,
.region--dark-background .nav-pills > li.active > a:hover,
.region--dark-background .nav-pills > li > a:hover,
.region--dark-background .nav-pills > li > a:focus {
  color: #317256;
}

/* components: post progress */
.post-progress__bar {
  background-color: #52BF90;
}

/* components: separators */
.separator--colored {
  background-color: #52BF90;
}
.separator--dark {
  background-color: #317256;
}

/* components: site branding */
.site-name a {
  color: #317256;
}

/* components: site slideout */
.slideout-toggle {
  background-color: #52BF90;
}
.slideout.region--dark-background {
  background-color: #224f3b;
}

/* components: slider revolution full screen */
.scroll-button a {
  background-color: rgba(49, 114, 86, 0.9);
}

/* components: slider revolution global */
.region--light-typography.region--dark-background .tp-caption__title a:hover {
  color: #52BF90;
}
.tp-caption__button {
  border-color: #52BF90;
  background-color: #52BF90;
}
.tp-caption__button:hover {
  background-color: #317256;
  border-color: #317256;
}
.region--light-typography.region--dark-background a.tp-caption__button:hover {
  color: #317256;
}
.region--light-typography.region--colored-background a.tp-caption__button:hover {
  color: #52BF90;
}
.slideshow-boxedwidth .tp-caption--transparent-background.region--dark-background,
.slideshow-fullscreen .tp-caption--transparent-background.region--dark-background,
.slideshow-fullwidth .tp-caption--transparent-background.region--dark-background,
.slideshow-internal .tp-caption--transparent-background.region--dark-background {
  background-color: rgba(49, 114, 86, 0.9);
}
.tparrows {
  background-color: #52BF90;
}
.tparrows:hover {
  background-color: #317256;
}
.tp-bullets .tp-bullet {
  background-color: #317256;
}
.tp-bullets .tp-bullet:hover,
.tp-bullets .tp-bullet.selected {
  background-color: #52BF90;
}
.tp-tabs {
  background-color: rgba(49, 114, 86, 0.93) !important;
}
.tp-tabs .tp-tab.selected,
.tp-tabs .tp-tab:hover {
  background-color: #317256;
}

/* components: tables */
table tr th {
  color: #317256;
}
.region--gray-background table tr th {
  background-color: #317256;
}

/* components: tabs */
.nav-tabs > li > a {
  color: #52BF90;
}
.nav-tabs > li > a:hover {
  border-color: #317256 #317256 #317256;
  background: #317256;
}
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #317256;
  border: 1px solid #317256;
  border-bottom-color: #317256;
}
.nav-tabs.nav-tabs--vertical > li > a:hover,
.nav-tabs.nav-tabs--vertical > li > a:focus,
.nav-tabs.nav-tabs--vertical .active > a,
.nav-tabs.nav-tabs--vertical .active > a:hover,
.nav-tabs.nav-tabs--vertical .active > a:focus {
  border-color: #317256 transparent #317256 #317256;
}
.region--black-background .nav-tabs > li.active > a,
.region--black-background .nav-tabs > li > a:focus,
.region--black-background .nav-tabs > li.active > a:focus,
.region--black-background .nav-tabs > li.active > a:hover {
  border-color: #52BF90;
}
.region--black-background .nav-tabs > li.active > a,
.region--black-background .nav-tabs > li > a:focus,
.region--black-background .nav-tabs > li > a:hover {
  background-color: #52BF90;
  border-color: #52BF90;
}
.region--dark-background .nav-tabs > li.active > a,
.region--dark-background .nav-tabs > li > a:focus,
.region--dark-background .nav-tabs > li.active > a:focus,
.region--dark-background .nav-tabs > li.active > a:hover {
  border-color: #52BF90;
}
.region--dark-background .nav-tabs > li.active > a,
.region--dark-background .nav-tabs > li > a:focus,
.region--dark-background .nav-tabs > li > a:hover {
  background-color: #52BF90;
  border-color: #52BF90;
}
.nav-tab__subtitle {
  color: #52BF90;
}
.nav-tabs.nav-tabs--fancy > li > a {
  color: #317256;
}
.nav-tabs.nav-tabs--fancy > .active > a,
.nav-tabs.nav-tabs--fancy > .active > a:focus,
.nav-tabs.nav-tabs--fancy > .active > a:hover,
.nav-tabs.nav-tabs--fancy > li > a:focus,
.nav-tabs.nav-tabs--fancy > li > a:hover {
  border-color: #317256;
  color: #317256;
}

/* components: to top */
.to-top {
  background-color: #52BF90;
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
}
.to-top:hover {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}

/* components: tooltip */
.tooltip-inner {
  background-color: #317256;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
  border-top-color: #317256;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #317256;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #317256;
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #317256;
}

/* components: transparent header */
.onscroll .js-transparent-header .header.region--dark-background {
  background-color: rgba(49, 114, 86, 0.9);
  border-bottom-color: #317256;
}
@media (max-width: 767px) {
  .js-transparent-header .region--dark-background {
    background-color: #317256 !important;
  }
}

/* components: view collections image overlay */
.view-collections-grid .overlay-inner .overlay-animated,
.view-collections-carousel .overlay-inner .overlay-animated,
.view-collection-masonry .overlay-inner .overlay-animated {
  background-color: #52BF90;
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
}
.view-collections-grid .overlay-inner .overlay-animated:hover,
.view-collections-carousel .overlay-inner .overlay-animated:hover,
.view-collection-masonry .overlay-inner .overlay-animated:hover {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}

/* components: view grid style 2 */
.view-grid-style-2 .views-field-title a {
  color: #52BF90;
}
.view-grid-style-2 .views-field-title a:hover {
  color: #317256;
}
.region--light-typography.region--dark-background .view-grid-style-2 a.link-hover-style-2:before,
.region--light-typography.region--dark-background .view-grid-style-2 .link-hover-style-2:before {
  color: #52BF90;
}

/* components: view items list */
.view-items-list .views-field-title a {
  color: #317256;
}
.view-items-list .views-field-title a:hover {
  color: #52BF90;
}
.view-items-list .views-field-field-mt-price {
  color: #52BF90;
}

/* components: view popular taxonomy */
.view-mt-popular-tags .views-row a {
  background-color: #52BF90;
}
.view-mt-popular-tags .views-row a:hover {
  background-color: #317256;
}
.region--colored-background .view-mt-popular-tags .views-row a:hover {
  color: #52BF90;
}
.region--dark-background .view-mt-popular-tags .views-row a:hover {
  color: #317256;
}

/* components: view pricing tables */
.view-pricing-tables .pricing-table-header {
  background-color: #317256;
}
.view-pricing-tables .pricing-table-body {
  color: #317256;
}
.pricing-table a.button {
  background-color: #52BF90;
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
}
.pricing-table a.button:hover {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}
.region--dark-background .view-pricing-tables .pricing-table-header {
  background-color: #52BF90;
}
.region--black-background .view-pricing-tables .pricing-table-header {
  background-color: #52BF90;
}

/* components: view products tags */
.view-product-tags .views-field-name a {
  background-color: #52BF90;
}
.view-product-tags .views-field-name a:hover {
  background-color: #317256;
}
.region--colored-background .view-product-tags .views-field-name a:hover {
  color: #52BF90;
}
.region--dark-background .view-product-tags .views-field-name a:hover {
  color: #317256;
}

/* components: view products grid */
.view-products-grid .views-field-field-mt-price {
  color: #52BF90;
}
.view-products-grid .views-field-title h5 a {
  color: #317256;
}

/* components: view promoted items */
.view-promoted-items-icon {
  background-color: #52BF90;
}
.view-promoted-items-icon:hover {
  background-color: #317256;
}
.view-promoted-items-info span,
.view-promoted-items-info a {
  background-color: #52BF90;
}

/* components: view team members grid 2 */
.view-team-members-grid-2 .views-field-title a {
  color: #317256;
}

/* components: view testimonials grid 2 */
.view-testimonials-grid-2 .views-field-title a {
  color: #317256;
}

/* components: view testimonials grid */
.view-testimonials-grid .views-field-title a {
  color: #317256;
}
.region--gray-background .view-testimonials-grid .views-field-body {
  background-color: #317256;
}
.region--gray-background .view-testimonials-grid .views-field-body:after {
  border-color: #317256 transparent transparent transparent;
}

/* components: view testimonials list */
.view-testimonials-list .views-field-title a {
  color: #317256;
}
.region--gray-background .view-testimonials-list .views-field-body {
  background-color: #317256;
}
.region--gray-background .view-testimonials-list .views-field-body:after {
  border-color: #317256 transparent transparent transparent;
}

/* components: view titles list */
.view-titles-list .views-field-title a:before {
  color: #317256;
}

/* components: views */
.view > .more-link a {
  -webkit-box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  box-shadow: 0 0 15px rgba(82, 191, 144, 0.5);
  background-color: #52BF90;
}
.view > .more-link a:hover {
  background-color: #317256;
  -webkit-box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
  box-shadow: 0 0 15px rgba(49, 114, 86, 0.5);
}
.region--dark-background .view > .more-link a:hover {
  color: #317256;
}
.region--colored-background .view > .more-link a:hover {
  color: #52BF90;
}