/**
 * @file
 * Styles for menus in Enterprise+.
 */
/*Menus*/
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

ul.menu li {
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0; }

ul.menu li a {
  padding: 8px 0 8px 25px;
  line-height: 150%;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #1C1F2A; }

.sidebar__section ul.menu li a:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px); }

.region--light-typography ul.menu li a.is-active,
.region--light-typography ul.menu li.active-trail > a {
  color: #ffffff; }

.region--light-typography ul.menu li a:hover {
  text-decoration: underline; }

.region--light-typography.region--dark-background ul.menu li a:hover {
  text-decoration: none; }

ul.menu li.menu-item--expanded ul {
  padding-left: 25px; }

.region--light-typography ul.menu li > a:before {
  color: #ffffff; }

/*Main navigation*/
.header-container ul.menu {
  margin: 0;
  list-style: none; }

.header__section ul.menu {
  padding: 15px 0; }

.region-top-first ul.menu li {
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: none;
  z-index: 497; }
  .region-top-first ul.menu li a {
    position: relative;
    margin: 0;
    top: 0;
    display: inline-block;
    position: relative;
    padding: 5px 15px; }
    .region-top-first ul.menu li a:hover {
      color: #00A9E0; }

#superfish-main > li > a::after {
  content: '';
  display: block;
  height: 0;
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  background-color: #00A9E0;
  -webkit-transition: height .5s ease;
  transition: height .5s ease; }

#superfish-main > li.sfHover a::after {
  height: 4px; }

.header-container .region--light-typography ul.menu li a:hover,
.header-container .region--light-typography ul.menu li.active-trail > a {
  text-decoration: none; }

.header-container ul.menu li a:before {
  content: "";
  width: 0;
  height: 0; }

.header-container ul.menu ul.menu {
  display: none; }

@media (max-width: 1199px) {
  .header-container ul.menu li a {
    margin: 0;
    padding: 5px 15px; }
  .header-container ul.menu {
    text-align: left; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .header-container .with-search-bar ul.menu > li > a {
    padding: 5px 15px;
    font-size: 12px; } }

@media (max-width: 991px) {
  .header-container ul.menu li a {
    margin: 0 5px;
    padding: 5px 17px; } }

/*header top*/
.header-top__section ul.menu {
  text-align: center; }

.header-top__section ul.menu li a {
  text-transform: none;
  padding: 0 15px;
  line-height: 1.2;
  margin: 0; }

.header-top__section ul.menu li:first-child a {
  padding-left: 0; }

.header-top__section ul.menu li:last-child a {
  padding-right: 0; }

@media (min-width: 768px) {
  .header-top-first ul.menu {
    text-align: left; }
  .header-top-second ul.menu {
    text-align: right; } }

/*footer menu*/
.footer__section ul.menu li a {
  padding: 7px 0 8px 20px;
  text-decoration: none; }

.footer__section ul.menu li a:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px); }

@media (max-width: 767px) {
  .footer__section ul.menu {
    text-align: center; }
  .footer__section ul.menu li a {
    padding: 7px 20px 8px 20px; }
  .footer__section ul.menu li > a:before {
    content: "";
    width: 0px;
    height: 0px; } }

/*Footer Bottom menu*/
.footer-bottom__section ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }

.footer-bottom__section ul.menu li {
  display: inline-block; }

.footer-bottom__section ul.menu ul.menu {
  display: none; }

.footer-bottom__section ul.menu li a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0 25px 0 23px;
  line-height: 1; }

.footer-bottom__section ul.menu li:first-child a {
  padding-left: 0; }

.footer-bottom__section ul.menu li:last-child a {
  padding-right: 0; }

.footer-bottom__section ul.menu li a:before {
  content: "";
  width: 0;
  height: 0; }

@media (max-width: 1199px) {
  .footer-bottom__section ul.menu li a {
    padding: 0 10px 0 8px; } }

@media (max-width: 991px) {
  .footer-bottom__section ul.menu {
    text-align: center;
    padding: 0 0 0 2px; } }

@media (max-width: 767px) {
  .footer-bottom__section ul.menu li {
    display: block;
    padding: 10px 20px; }
  .footer-bottom__section ul.menu li:last-child a,
  .footer-bottom__section ul.menu li:first-child a,
  .footer-bottom__section ul.menu li a {
    padding: 0 10px; } }

/*Subfooter menu*/
.subfooter__section ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right; }

.subfooter__section.subfooter-first ul.menu {
  text-align: left; }

.subfooter__section ul.menu li {
  display: inline-block; }

.subfooter__section ul.menu ul.menu {
  display: none; }

.subfooter__section ul.menu li a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0 25px 0 23px;
  line-height: 1; }

.subfooter__section ul.menu li:first-child a {
  padding-left: 0; }

.subfooter__section ul.menu li:last-child a {
  padding-right: 0; }

.subfooter__section ul.menu li a:before {
  content: "";
  width: 0;
  height: 0; }

@media (max-width: 1199px) {
  .subfooter__section ul.menu li a {
    padding: 0 10px 0 8px; } }

@media (max-width: 991px) {
  .subfooter__section ul.menu {
    text-align: center;
    padding: 0 0 0 2px; } }

@media (max-width: 767px) {
  .subfooter__section ul.menu li {
    display: block;
    padding: 10px 20px; }
  .subfooter__section ul.menu li:last-child a,
  .subfooter__section ul.menu li:first-child a,
  .subfooter__section ul.menu li a {
    padding: 0 10px; } }

/*superfish support*/
.sf-menu ul {
  display: none; }

.header-container .sf-menu li.sfHover {
  z-index: 498; }

.header-container .sf-menu > li > ul {
  right: 0 !important; }

.header-container .sf-menu.menu ul {
  display: none;
  background-color: #ffffff;
  margin-top: 23px;
  padding: 20px 0;
  text-align: left;
  left: -60px;
  top: 100%;
  box-shadow: 1px 2px 16px -4px rgba(0, 0, 0, 0.45); }

.header-container .sf-menu ul li a {
  font-size: 14px;
  padding: 9px 0px 10px;
  display: block;
  text-transform: none;
  margin: 0 30px;
  border-bottom: 1px solid #e7e7e7;
  color: #1C1F2A; }

.header-container .sf-menu ul li:last-child a {
  border-bottom: none; }

.header-container .sf-menu.menu ul ul {
  top: -20px;
  margin-left: 0;
  margin-right: 15px;
  margin-top: 0; }

@media (max-width: 992px) {
  .header-container .sf-menu.menu ul {
    margin-top: 20px; } }

/*superfish menu arrows*/
.header-container ul.sf-menu ul li a.menuparent:after {
  font-family: 'FontAwesome';
  content: "\f105";
  right: auto;
  left: -15px;
  top: 9px;
  position: absolute;
  font-weight: 400; }

.sf-accordion.sf-style-none.cta-active > li:last-child {
  text-align: center; }

.sf-accordion.sf-style-none.cta-active > li:last-child > a {
  display: block;
  padding: 18px 25px 17px; }

.region--colored-background .menu.cta-active > li:last-child > a {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); }

.region--colored-background .menu.cta-active > li:last-child > a:hover {
  text-decoration: none;
  color: #ffffff; }

/*Mobile Menu*/
.header-container .block-superfish {
  position: relative; }

.header-container .sf-accordion-toggle.sf-style-none {
  text-align: right; }

.header-container .sf-accordion-toggle.sf-style-none a {
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 100;
  padding: 5px 10px 5px;
  display: inline-block;
  text-decoration: none; }

.with-search-bar .sf-accordion-toggle.sf-style-none a {
  top: -39px; }

.header-container .sf-accordion-toggle.sf-style-none a:after {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 24px;
  line-height: 1; }

.header-container .sf-accordion-toggle.sf-style-none a.sf-expanded {
  position: relative;
  right: auto;
  z-index: auto; }

.header-container .sf-accordion-toggle.sf-style-none a.sf-expanded:after {
  content: "\f00d"; }

.header-container .sf-accordion-toggle.sf-style-none span {
  display: none; }

.header-container ul.menu.sf-accordion {
  padding: 0;
  text-align: left;
  background: #f6f8f9;
  border-radius: 5px;
  border: 1px solid #eaeaea; }

.header-container ul.menu.sf-accordion ul {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none; }

.header-container ul.menu.sf-accordion li a {
  border-bottom: 1px solid #eaeaea;
  text-transform: none;
  margin: 0;
  padding: 15px 30px;
  font-size: 13px; }

.header-container ul.menu.sf-accordion li:last-child > a {
  border-bottom-color: transparent; }

.header-container ul.menu.sf-accordion ul li a {
  padding-left: 45px;
  border-top: 1px solid rgba(255, 255, 255, 0.25); }

.header-container ul.menu.sf-accordion ul ul li a {
  padding-left: 60px; }

.header-container ul.menu.sf-accordion ul ul ul li a {
  padding-left: 75px; }

.header-container ul.menu.sf-accordion ul ul ul ul li a {
  padding-left: 90px; }

@media (max-width: 480px) {
  .header-container .sf-accordion-toggle.sf-style-none a,
  .header-container .sf-accordion-toggle.sf-style-none a.sf-expanded {
    right: -7px; } }

/*mobile menu arrows*/
.header-container ul.sf-accordion li a.menuparent:after {
  content: "\f067";
  font-family: 'FontAwesome';
  position: absolute;
  border-left: 1px solid #eaeaea;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 52px;
  width: 50px;
  height: 50px; }

.header-container ul.sf-accordion li.sf-expanded > a.menuparent:after {
  content: "\f068"; }

.header-container ul.sf-accordion ul li a.menuparent:after {
  content: "\f067";
  top: 0;
  right: 0;
  left: auto; }

/*Mobile Menu at slideout region*/
.slideout .block-superfish {
  position: relative; }

.slideout .sf-accordion-toggle.sf-style-none {
  display: none; }

.slideout ul.menu.sf-accordion {
  padding: 0;
  text-align: left;
  background: #f6f8f9;
  border-radius: 5px;
  border-width: 0;
  display: block; }

.slideout ul.menu.sf-accordion ul {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: #ffffff; }

.slideout ul.menu.sf-accordion li a {
  border-bottom-width: 0;
  text-transform: none;
  margin: 0;
  padding: 15px 0;
  font-size: 13px; }

.slideout ul.menu.sf-accordion li:last-child > a {
  border-bottom-color: transparent; }

.slideout ul.menu.sf-accordion ul li a {
  padding-left: 20px;
  border-top-width: 0; }

.slideout ul.menu.sf-accordion ul ul li a {
  padding-left: 30px; }

.slideout ul.menu.sf-accordion ul ul ul li a {
  padding-left: 45px; }

.slideout ul.menu.sf-accordion ul ul ul ul li a {
  padding-left: 60px; }

.slideout .sf-accordion.sf-style-none.cta-active > li:last-child > a {
  margin-top: 10px; }

/*mobile menu arrows*/
.slideout ul.sf-accordion li > a:before {
  content: ""; }

.slideout ul.sf-accordion li a.menuparent:after {
  content: "\f067";
  font-family: 'FontAwesome';
  position: absolute;
  border-left-width: 0;
  top: 0;
  right: 10px;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 52px;
  width: 50px;
  height: 50px; }

.slideout ul.sf-accordion li.sf-expanded > a.menuparent:after {
  content: "\f068"; }

.slideout ul.sf-accordion ul li a.menuparent:after {
  content: "\f067";
  top: 0;
  right: 0;
  left: auto; }

/*Mobile menu @colored regions*/
.region--light-typography ul.menu.sf-accordion {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.1); }

.region--light-typography ul.menu.sf-accordion ul {
  background-color: transparent; }

.region--light-typography ul.menu.sf-accordion li a {
  border-bottom-color: rgba(255, 255, 255, 0.1);
  color: #ffffff; }

.region--light-typography ul.menu.sf-accordion ul li a {
  border-top-color: rgba(255, 255, 255, 0.1); }

.region--light-typography ul.sf-accordion li a.menuparent:after {
  border-color: rgba(255, 255, 255, 0.1); }

/**
 * @file
 * Visual styles for Enterprise+'s layout.
 */
/*Regions background colors*/
.region--white-background {
  background-color: #ffffff; }

.region--gray-background {
  background-color: #f6f8f9; }

.region--black-background {
  background-color: #232323; }

.region--white-pattern {
  background-image: url("../../images/white-pattern.png");
  background-repeat: repeat;
  background-position: 0 0; }

/*header-top-highlighted*/
.header-top-highlighted__container {
  position: relative;
  z-index: 498; }

.header-top-highlighted__section {
  font-size: 13px; }

/*header-top layout*/
.header-top__container {
  padding: 20px 0 15px; }

.region--white-background .header-top__container {
  border-bottom: 1px solid #f4f4f4; }

.header-top__container p:last-child:first-child {
  padding-bottom: 0; }

@media (max-width: 767px) {
  .header-top__section {
    text-align: center; } }

/*header layout*/
.header-container {
  padding: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100; }

.header__container {
  padding: 12px 0;
  position: relative; }

.header-first {
  padding: 5px 0; }

@media (min-width: 768px) {
  .search-area {
    width: 30px;
    float: right;
    padding: 5px 10px 0 0; }
  .main-navigation.with-search-bar {
    padding-right: 30px; } }

@media (min-width: 1200px) {
  .search-area {
    width: 60px; }
  .main-navigation.with-search-bar {
    padding-right: 60px; } }

@media (max-width: 992px) {
  .header__container {
    padding: 20px 0; } }

@media (max-width: 767px) {
  .header__container {
    padding: 10px 0 30px; } }

/*Regions spacing*/
.content-top {
  padding: 70px 0 60px; }

.content-top-highlighted {
  padding: 60px 0; }

.media-background {
  width: 100%;
  padding: 60px 0 80px;
  position: relative;
  z-index: 0; }

.media-background__container {
  position: relative;
  z-index: 3; }

.main-content {
  padding: 60px 0;
  background: #F3F3F4; }

.content-bottom {
  padding: 80px 0 70px; }

.featured-top {
  padding: 60px 0;
  background-color: #1C1F2A;
  background-image: -webkit-repeating-radial-gradient(center center, #007fa9, #007fa9 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, #007fa9, #007fa9 1px, transparent 1px, transparent 100%);
  background-size: 31px 30px; }

.featured {
  padding: 60px 0 0; }

.featured-bottom {
  padding: 70px 0; }

.highlighted-top {
  padding: 60px 0; }

.highlighted {
  padding: 60px 0; }

.footer-top {
  padding: 70px 0 55px; }

/*Footer*/
.footer {
  max-width: 1200px;
  margin: 0 auto; }

@media (max-width: 991px) {
  .footer__section {
    padding: 20px 0; } }

@media (max-width: 767px) {
  .footer__section {
    text-align: center; } }

/*Footer bottom*/
.footer-bottom__container {
  padding: 20px 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent; }

.region--black-background + .region--black-background .footer-bottom__container {
  border-top-color: #313131; }

.region--colored-background + .region--colored-background .footer-bottom__container {
  border-top-color: rgba(255, 255, 255, 0.1); }

.region--dark-background + .region--dark-background .footer-bottom__container {
  border-top-color: rgba(255, 255, 255, 0.1); }

.region--white-background + .region--white-background .footer-bottom__container,
.region--gray-background + .region--gray-background .footer-bottom__container {
  border-top-color: #eaeaea; }

@media (max-width: 767px) {
  .footer-bottom__section {
    text-align: center; } }

/*Subfooter*/
.subfooter__container {
  padding: 40px 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent; }

.region--black-background + .region--black-background .subfooter__container {
  border-top-color: #313131; }

.region--colored-background + .region--colored-background .subfooter__container {
  border-top-color: rgba(255, 255, 255, 0.1); }

.region--dark-background + .region--dark-background .subfooter__container {
  border-top-color: rgba(255, 255, 255, 0.1); }

.region--white-background + .region--white-background .subfooter__container,
.region--gray-background + .region--gray-background .subfooter__container {
  border-top-color: #eaeaea; }

.subfooter__section {
  font-size: 13px; }

@media (max-width: 991px) {
  .subfooter__section {
    text-align: center; } }

/*Regions Separators*/
/*incline diagonal*/
.region--separator-incline-diagonal {
  position: relative;
  overflow: hidden; }

.region--white-background + .region--white-background.region--separator-incline-diagonal:before,
.region--gray-background + .region--gray-background.region--separator-incline-diagonal:before,
.region--colored-background + .region--colored-background.region--separator-incline-diagonal:before,
.region--dark-background + .region--dark-background.region--separator-incline-diagonal:before,
.region--black-background + .region--black-background.region--separator-incline-diagonal:before {
  background: none; }

@media (max-width: 767px) {
  .region--separator-incline-diagonal {
    padding-top: 100px; }
  .region--separator-incline-diagonal:before {
    height: 70px; } }

/*decline diagonal*/
.region--separator-decline-diagonal {
  padding-top: 210px;
  position: relative;
  overflow: hidden; }

.region--separator-decline-diagonal:before {
  position: absolute;
  top: 0;
  left: -5%;
  height: 140px;
  width: 110%;
  display: block; }

.region--white-background + .region--white-background.region--separator-decline-diagonal:before,
.region--gray-background + .region--gray-background.region--separator-decline-diagonal:before,
.region--colored-background + .region--colored-background.region--separator-decline-diagonal:before,
.region--dark-background + .region--dark-background.region--separator-decline-diagonal:before,
.region--black-background + .region--black-background.region--separator-decline-diagonal:before {
  background: none; }

@media (max-width: 767px) {
  .region--separator-decline-diagonal {
    padding-top: 100px; }
  .region--separator-decline-diagonal:before {
    height: 70px; } }

/*Bordered Container*/
.container--bordered-left {
  padding-left: 70px;
  border-width: 0 0 0 3px;
  border-color: #efefef;
  border-style: solid; }

/*Custom Grid*/
.grid-gutter-0 {
  margin-right: 0px;
  margin-left: 0px; }

.container-fluid .grid-gutter-0 {
  margin-right: -15px;
  margin-left: -15px; }

.grid-gutter-0 .col-lg-6,
.grid-gutter-0 .col-lg-4,
.grid-gutter-0 .col-lg-3,
.grid-gutter-0 .col-md-6,
.grid-gutter-0 .col-md-4,
.grid-gutter-0 .col-md-3,
.grid-gutter-0 .col-sm-6,
.grid-gutter-0 .col-sm-4,
.grid-gutter-0 .col-sm-3,
.grid-gutter-0 .col-xs-6,
.grid-gutter-0 .col-xs-4,
.grid-gutter-0 .col-xs-3 {
  padding-left: 0px;
  padding-right: 0px; }

.grid-gutter-10 {
  margin-right: -10px;
  margin-left: -10px; }

.container-fluid .grid-gutter-10 {
  margin-right: -15px;
  margin-left: -15px; }

.grid-gutter-10 .col-lg-6,
.grid-gutter-10 .col-lg-4,
.grid-gutter-10 .col-lg-3,
.grid-gutter-10 .col-md-6,
.grid-gutter-10 .col-md-4,
.grid-gutter-10 .col-md-3,
.grid-gutter-10 .col-sm-6,
.grid-gutter-10 .col-sm-4,
.grid-gutter-10 .col-sm-3,
.grid-gutter-10 .col-xs-6,
.grid-gutter-10 .col-xs-4,
.grid-gutter-10 .col-xs-3 {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px; }

/*Layout Mode*/
.boxed .banner__section {
  overflow: hidden; }

@media (min-width: 768px) {
  .boxed .page-container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2; }
  .boxed .page-container {
    width: 750px; }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 748px; } }

@media (min-width: 992px) {
  .boxed .page-container {
    width: 970px; }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 968px; } }

@media (min-width: 1200px) {
  .boxed .page-container {
    width: 1170px; }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 1168px; } }

/**
 * @file
 * Visual styles for Enterprise+'s sticky header.
 */
.onscroll.transparent-header-active .header-container.js-transparent-header .sticky-wrapper {
  height: 0 !important; }

.header {
  position: fixed;
  border-bottom: 1px solid #d2d2d2;
  height: 85px;
  z-index: 499;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 14px rgba(100, 100, 100, 0.1), 0 2px 2px rgba(100, 100, 100, 0.1); }

.onscroll .header-container .content > ul.menu {
  padding-top: 13px; }

.onscroll .header-container .content > ul.menu.cta-active {
  padding-top: 0;
  padding-bottom: 10px; }

.onscroll .header-container .sf-menu ul {
  margin-top: 23px; }

.onscroll .search-area {
  padding: 3px 10px 0 0; }

.fixed-header-enabled.onscroll .header__container,
.fixed-header-enabled.onscroll .header-second,
.fixed-header-enabled.onscroll .header-third,
.fixed-header-enabled.onscroll .header-first,
.fixed-header-enabled.onscroll .search-area,
.fixed-header-enabled.onscroll .header-container ul.menu {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s; }

@media (max-width: 991px) {
  .onscroll .header__container > .row > div {
    display: none; }
  .onscroll .header__container > .row > div:last-of-type {
    display: block; }
  .onscroll .header-container .content > ul.menu {
    padding-top: 10px; }
  .onscroll .search-area {
    padding: 0px 10px 0 0; } }

@media (max-width: 767px) {
  .onscroll .header.js-fixed {
    display: none; } }

.region-top-first {
  position: relative;
  padding: 0;
  margin: 18px; }

#block-enterpriseplus-mainnavigation-2 {
  position: relative;
  z-index: 1; }

.region-top-second {
  padding: 23px 0; }
  .region-top-second .menu-item {
    display: inline-block; }
    .region-top-second .menu-item:not(:last-child)::after {
      content: '|';
      display: inline-block;
      vertical-align: middle; }
    .region-top-second .menu-item a {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px;
      font-size: 0.8em;
      color: #1C1F2A;
      -webkit-transition: color .15s ease;
      transition: color .15s ease; }
      .region-top-second .menu-item a:hover {
        color: #00A9E0; }

#search-block-form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%; }
  #search-block-form .form-item {
    margin: 0; }
  #search-block-form #edit-keys {
    background: none;
    position: relative;
    float: left;
    width: calc(100% - 65px);
    padding: 0 0 0 20px;
    height: 33px;
    margin: 0 0 0 32px;
    color: #00A9E0;
    border: 0;
    box-shadow: none; }
  #search-block-form #edit-actions {
    display: none; }

.search {
  position: absolute;
  right: 0;
  top: -3px;
  bottom: 0;
  height: 35px;
  width: 35px;
  margin-right: 60px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid transparent;
  background: white;
  z-index: 1; }
  .search.active {
    width: calc(100% - 30px);
    border: 1px solid #d1d2d4;
    -webkit-transition: 0.2s 0.3s ease;
    transition: 0.2s 0.3s ease;
    border-radius: 2px; }
  .search svg.search-icon {
    position: absolute;
    left: 0;
    right: 0;
    width: 18px;
    height: 18px;
    margin: 7px;
    cursor: pointer;
    z-index: 12;
    background: white; }
    .search svg.search-icon .path {
      fill: none;
      stroke: #00A9E0;
      stroke-miterlimit: 10;
      stroke-width: 2px; }
  .search svg.search-clear {
    position: relative;
    float: right;
    width: 12px;
    height: 12px;
    margin: 10px;
    cursor: pointer;
    z-index: 11;
    background: white; }
    .search svg.search-clear .path {
      fill: none;
      stroke: #a4a5a9;
      stroke-linejoin: round;
      stroke-width: 2px; }
  .search .search__field {
    width: 100%;
    border: 0; }

/*
 * @file
 * Overall specifications for Enterprise+.
 */
body {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75;
  color: #707070;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }

/*Paragraphs and links*/
p {
  margin: 0;
  padding: 0 0 15px 0; }

p.large {
  font-size: 18px;
  line-height: 1.45; }

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none; }

.region--light-typography.region--dark-background a.is-active {
  color: #ddd; }

a.link--bordered,
.link--bordered a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-decoration: none; }

a.link--bordered:hover,
.link--bordered a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-decoration: none; }

.region--light-typography a.link--bordered,
.region--light-typography .link--bordered a {
  border-color: #ffffff;
  text-decoration: none; }

.region--light-typography a.link--bordered:hover,
.region--light-typography .link--bordered a:hover {
  border-color: transparent;
  text-decoration: none; }

.region--light-typography.region--dark-background a.link--bordered,
.region--light-typography.region--dark-background .link--bordered a {
  text-decoration: none; }

.region--light-typography.region--dark-background a.link--bordered:hover,
.region--light-typography.region--dark-background .link--bordered a:hover {
  border-color: #ffffff;
  text-decoration: none; }

a.link--hover-style-2,
.link--hover-style-2 a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: block; }

a.link--hover-style-2:before,
.link--hover-style-2 a:before {
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -5px;
  font-family: "FontAwesome";
  font-size: 10px;
  line-height: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  /* Safari */
  transition-delay: 0s;
  opacity: 0;
  filter: alpha(opacity=0);
  content: "\f105"; }

a.link--hover-style-2:hover,
.link--hover-style-2 a:hover {
  padding-left: 20px;
  text-decoration: none; }

a.link--hover-style-2:hover:before,
.link--hover-style-2 a:hover:before {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0.1s;
  /* Safari */
  transition-delay: 0.1s; }

.region--light-typography.region--dark-background a.link--hover-style-2:before,
.region--light-typography.region--dark-background .link--hover-style-2 a:before {
  color: #ffffff; }

.region--light-typography.region--dark-background .text--dark,
.region--light-typography.region--black-background .text--dark {
  color: #ffffff; }

.region--light-typography.region--colored-background .text--colored,
.region--light-typography.region--black-background .text--colored {
  color: #ffffff; }

/*Regions with light typography*/
.region--light-typography {
  color: #ffffff; }

.region--light-typography a,
.region--light-typography a.link--dark,
.region--light-typography .link--dark a {
  color: #ffffff;
  text-decoration: underline; }

.region--light-typography a:hover,
.region--light-typography a:focus,
.region--light-typography a.link--dark:hover,
.region--light-typography a.link--dark:focus,
.region--light-typography .link--dark a:hover,
.region--light-typography .link--dark a:focus {
  color: #ffffff;
  text-decoration: none; }

.region--light-typography.region--dark-background a {
  text-decoration: none; }

.region--light-typography.region--dark-background a:hover,
.region--light-typography.region--dark-background a:focus {
  color: #ffffff;
  text-decoration: none; }

/*Basic elements*/
img {
  height: auto;
  max-width: 100%;
  border-radius: 5px; }

img.img--bordered,
.img--bordered img {
  border: 1px solid #e7e7e7; }

.region--light-typography img.img--bordered,
.region--light-typography .img--bordered img {
  border-color: rgba(255, 255, 255, 0.15); }

code,
pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre;
  white-space: pre-wrap;
  font-family: 'Source Code Pro', Consolas, Monaco, Courier; }

pre {
  background: #f6f8f9;
  border: none;
  border-left: 5px solid #d3d1cd;
  border-radius: 0px;
  color: #222222;
  padding: 20px;
  font-size: 14px;
  max-height: 62px;
  overflow: hidden;
  margin: 40px 0 40px 45px; }

pre:hover {
  max-height: 10000px;
  -webkit-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s; }

blockquote {
  font-size: 24px;
  line-height: 1.25;
  font-style: italic;
  padding: 5px 0 5px 30px;
  margin: 15px 0 25px;
  border-left-width: 5px;
  border-left-style: solid; }

.region--colored-background blockquote,
.region--black-background blockquote,
.region--dark-background blockquote {
  border-color: #ffffff; }

hr {
  border-top: 1px solid #f4f4f4;
  margin-bottom: 40px;
  margin-top: 40px; }

.region--light-typography hr {
  border-color: #ffffff; }

/*Headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.20;
  padding: 0;
  margin: 20px 0 10px 0;
  font-weight: 400; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 20px; }

h1.title {
  margin-top: 0; }

h1.page-title {
  margin-bottom: 20px; }

.region--light-typography h1,
.region--light-typography h2,
.region--light-typography h3,
.region--light-typography h4,
.region--light-typography h5,
.region--light-typography h6 {
  color: #ffffff; }

/*resposinve text align*/
@media (min-width: 1200px) {
  .lg-text-center {
    text-align: center; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .md-text-center {
    text-align: center; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sm-text-center {
    text-align: center; } }

@media (max-width: 767px) {
  .xs-text-center {
    text-align: center; } }

/*Block title*/
.block-title {
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 1.1;
  font-size: 50px; }

h2.block-title {
  font-size: 26px;
  padding-bottom: 10px;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #e7e7e7;
  line-height: 1.2; }

.region--light-typography h2.block-title {
  border-color: rgba(255, 255, 255, 0.1); }

.footer__section h2.title,
.footer__section nav > h2,
.footer__section .block-search > h2,
.footer-bottom__section h2.title,
.footer-bottom__section nav > h2,
.footer-bottom__section .block-search > h2,
.subfooter__section h2.title,
.subfooter__section nav > h2,
.subfooter__section .block-search > h2 {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 10px;
  margin-bottom: 30px; }

.region--light-typography .footer__section h2.title,
.region--light-typography .footer__section nav > h2,
.region--light-typography .footer__section .block-search > h2,
.region--light-typography .footer-bottom__section h2.title,
.region--light-typography .footer-bottom__section nav > h2,
.region--light-typography .footer-bottom__section .block-search > h2,
.region--light-typography .subfooter__section h2.title,
.region--light-typography .subfooter__section nav > h2,
.region--light-typography .subfooter__section .block-search > h2 {
  border-color: rgba(255, 255, 255, 0.1); }

@media (max-width: 991px) {
  .footer__section h2.title,
  .footer__section nav > h2,
  .footer__section .block-search > h2,
  .footer-bottom__section h2.title,
  .footer-bottom__section nav > h2,
  .footer-bottom__section .block-search > h2,
  .subfooter__section h2.title,
  .subfooter__section nav > h2,
  .subfooter__section .block-search > h2 {
    margin-bottom: 15px; } }

h2.title,
nav > h2,
.block-search > h2 {
  padding-bottom: 10px;
  margin: 0 0 30px 0;
  color: white;
  text-align: center;
  font-size: 2.4em;
  position: relative;
  padding-top: 40px; }
  .content-top h2.title, .region-content h2.title, .content-top
  nav > h2, .region-content
  nav > h2, .content-top
  .block-search > h2, .region-content
  .block-search > h2 {
    color: #1C1F2A; }
    .content-top h2.title::before, .region-content h2.title::before, .content-top
    nav > h2::before, .region-content
    nav > h2::before, .content-top
    .block-search > h2::before, .region-content
    .block-search > h2::before {
      width: 60px;
      margin-left: -30px;
      content: '';
      display: block;
      height: 3px;
      bottom: 0;
      left: 50%;
      top: 0;
      background-color: #00A9E0;
      position: absolute; }

.region--light-typography h2.title,
.region--light-typography nav > h2,
.region--light-typography .block-search > h2 {
  border-color: rgba(255, 255, 255, 0.1); }

.slideout__section h2.title,
.slideout__section nav > h2,
.slideout__section .block-search > h2 {
  font-size: 18px;
  padding-bottom: 10px;
  margin: 0 0 15px 0;
  font-weight: 600; }

/* Content region overrides */
.region-content h2.title,
.region-content nav > h2,
.region-content .block-search > h2 {
  margin: 20px 0 20px 0; }

.region-footer-menu {
  max-width: 1200px;
  margin: 50px auto;
  font-family: 'Libre Franklin', Helvetica Neue, Arial, sans-serif; }
  .region-footer-menu #block-mainnavigation-5 > .menu {
    font-size: 0;
    padding: 0 15px; }
    .region-footer-menu #block-mainnavigation-5 > .menu::after, .region-footer-menu #block-mainnavigation-5 > .menu::before {
      content: none; }
    @media (min-width: 960px) {
      .region-footer-menu #block-mainnavigation-5 > .menu {
        padding: 0 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item {
      display: inline-block;
      vertical-align: top;
      color: #fff;
      font-size: 16px;
      min-height: 150px;
      padding: 5px;
      width: 50%; }
      @media (min-width: 640px) {
        .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item {
          width: 33.33%; } }
      @media (min-width: 960px) {
        .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item {
          width: 20%; } }
      .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item > a {
        line-height: 1.5;
        display: inline-block;
        margin-bottom: .6em;
        padding: 5px 0;
        color: #1C1F2A;
        font-size: 1.4em; }
        @media (min-width: 640px) {
          .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item > a {
            padding: 10px 0; } }
        .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item > a:hover {
          color: #00A9E0; }
      .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item .menu {
        margin: 0;
        padding: 0; }
        .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item .menu a {
          color: #494b54;
          padding: 0 0 5px; }
          @media (min-width: 640px) {
            .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item .menu a {
              padding: 0 0 15px; } }
          .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item .menu a:hover {
            color: #00A9E0; }
      .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item li {
        display: block; }
      .region-footer-menu #block-mainnavigation-5 > .menu > .menu-item .a:hover {
        color: black; }

/**
 * @file
 * Visual styles for the site branding block in Enterprise+.
 */
.logo {
  float: left;
  margin: 8px 60px 10px 10px;
  display: inline-block; }

.logo:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.site-name a {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
  display: none; }

.region--light-typography .site-name a {
  color: #ffffff; }

.site-name a:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.site-slogan {
  font-size: 16px;
  line-height: 1.20;
  padding-left: 15px;
  font-style: italic; }

@media (min-width: 992px) and (max-width: 1199px) {
  .site-name {
    margin-top: 5px; }
  .site-slogan {
    font-size: 12px; } }

@media (max-width: 767px) {
  .logo {
    float: none;
    margin-right: 0;
    display: block;
    text-align: center;
    display: block;
    visibility: visible;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .site-name,
  .site-slogan {
    text-align: center; }
  .site-name {
    margin: 5px 0 0 0; }
  .site-slogan {
    display: block;
    visibility: visible;
    padding: 5px 0 0 0; } }

/* Site Branding @footer*/
.footer__section .logo-and-site-name-wrapper {
  margin: 0 0 15px; }

.footer__section .site-name a {
  font-size: 23px;
  font-weight: 600; }

/* Site Branding @dark regions*/
.region--dark-background .site-slogan,
.region--black-background .site-slogan {
  color: rgba(255, 255, 255, 0.7); }

.region-footer-bottom {
  position: relative;
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #76787f;
  font-size: 0.7em;
  color: #494b54; }
  .region-footer-bottom::before {
    position: absolute;
    top: -14px;
    content: '';
    display: block;
    width: 140px;
    height: 25px;
    background-color: white;
    background-image: url("../logo.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .region-footer-bottom .block {
    display: inline-block; }
  .region-footer-bottom #block-enterpriseplus-footer {
    margin-left: 230px; }
  .region-footer-bottom .menu::after, .region-footer-bottom .menu::before {
    content: none; }
  .region-footer-bottom .menu .menu-item {
    display: inline-block;
    vertical-align: middle; }
    .region-footer-bottom .menu .menu-item:not(:last-child)::after {
      content: '|';
      display: inline-block;
      vertical-align: middle; }
    .region-footer-bottom .menu .menu-item a {
      display: inline-block;
      vertical-align: middle;
      padding: 2px;
      color: #494b54; }
      .region-footer-bottom .menu .menu-item a:hover {
        color: #00A9E0; }

.region-footer {
  text-align: right; }
  .region-footer a {
    color: #1C1F2A; }
    .region-footer a:hover {
      color: #005c7a; }

h1 {
  color: red; }

/*# sourceMappingURL=styles.css.map */
