/**
 * @file
 * Visual styles for Enterprise+'s layout.
 */

/*Regions background colors*/
.region--white-background {
  background-color: #ffffff;
}
.region--gray-background {
  background-color: #f6f8f9;
}
.region--black-background {
  background-color: #232323;
}
.region--white-pattern {
  background-image: url('../../images/white-pattern.png');
  background-repeat: repeat;
  background-position: 0 0;
}

/*header-top-highlighted*/
.header-top-highlighted__container {
  position: relative;
  z-index: 498;
}
.header-top-highlighted__section {
  font-size: 13px;
}

/*header-top layout*/
.header-top__container {
  padding: 20px 0 15px;
}
.region--white-background .header-top__container {
  border-bottom: 1px solid #f4f4f4;
}
.header-top__container p:last-child:first-child {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .header-top__section {
    text-align: center;
  }
}

/*header layout*/
.header-container {
  padding: 0;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
}
.header__container {
  padding: 12px 0;
  position: relative;
}
.header-first {
  padding: 5px 0;
}
@media (min-width:768px) {
  .search-area {
    width: 30px;
    float: right;
    padding: 5px 10px 0 0;
  }
  .main-navigation.with-search-bar {
    padding-right: 30px;
  }
}
@media (min-width:1200px) {
  .search-area {
    width: 60px;
  }
  .main-navigation.with-search-bar {
    padding-right: 60px;
  }
}
@media (max-width: 992px) {
  .header__container {
    padding: 20px 0;
  }
}
@media (max-width:767px) {
  .header__container {
    padding: 10px 0 30px;
  }
}

/*Regions spacing*/
.content-top {
  padding: 70px 0 60px;
}
.content-top-highlighted {
  padding: 60px 0;
}
.media-background {
  width: 100%;
  padding: 60px 0 80px;
  position: relative;
  z-index: 0;
}
.media-background__container {
  position: relative;
  z-index: 3;
}
.main-content {
  padding: 60px 0;
  background: #F3F3F4;
}
.content-bottom {
  padding: 80px 0 70px;
}
.featured-top {
  padding: 60px 0;
  background-color: #1C1F2A;
  background-image: repeating-radial-gradient(center center, #007fa9,
          #007fa9 1px, transparent 1px, transparent 100%);
  background-size: 31px 30px;

}
.featured {
  padding: 60px 0 0;
}
.featured-bottom {
  padding: 70px 0;
}
.highlighted-top {
  padding: 60px 0;
}
.highlighted {
  padding: 60px 0;
}
.footer-top {
  padding: 70px 0 55px;
}

/*Footer*/
.footer {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .footer__section {
    padding: 20px 0;
  }
}

@media (max-width:767px) {
  .footer__section {
    text-align: center;
  }
}

/*Footer bottom*/
.footer-bottom__container {
  padding: 20px 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent;
}
.region--black-background + .region--black-background .footer-bottom__container {
  border-top-color: #313131;
}
.region--colored-background + .region--colored-background .footer-bottom__container {
  border-top-color: rgba(255, 255, 255, 0.1);
}
.region--dark-background + .region--dark-background .footer-bottom__container {
  border-top-color: rgba(255, 255, 255, 0.1);
}
.region--white-background + .region--white-background .footer-bottom__container,
.region--gray-background + .region--gray-background .footer-bottom__container {
  border-top-color: #eaeaea;
}
@media (max-width:767px) {
  .footer-bottom__section {
    text-align: center;
  }
}

/*Subfooter*/
.subfooter__container {
  padding: 40px 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent;
}
.region--black-background + .region--black-background .subfooter__container {
  border-top-color: #313131;
}
.region--colored-background + .region--colored-background .subfooter__container {
  border-top-color: rgba(255, 255, 255, 0.1);
}
.region--dark-background + .region--dark-background .subfooter__container {
  border-top-color: rgba(255, 255, 255, 0.1);
}
.region--white-background + .region--white-background .subfooter__container,
.region--gray-background + .region--gray-background .subfooter__container {
  border-top-color: #eaeaea;
}
.subfooter__section {
  font-size: 13px;
}
@media (max-width: 991px) {
  .subfooter__section {
    text-align: center;
  }
}

/*Regions Separators*/
/*incline diagonal*/
.region--separator-incline-diagonal {
  position: relative;
  overflow: hidden;
}
//.region--separator-incline-diagonal:before {
//  position: absolute;
//  top: 0;
//  left: -5%;
//  height: 140px;
//  width: 110%;
//  display: block;
//}
//.region--white-background + .region--separator-incline-diagonal:before {
//  background: linear-gradient(to bottom right, #ffffff 49.5%, transparent 50%);
//}
//.region--gray-background + .region--separator-incline-diagonal:before {
//  background: linear-gradient(to bottom right, #f6f8f9 49.5%, transparent 50%);
//}
//.region--black-background + .region--separator-incline-diagonal:before {
//  background: linear-gradient(to bottom right, #232323 49.5%, transparent 50%);
//}
.region--white-background + .region--white-background.region--separator-incline-diagonal:before,
.region--gray-background + .region--gray-background.region--separator-incline-diagonal:before,
.region--colored-background + .region--colored-background.region--separator-incline-diagonal:before,
.region--dark-background + .region--dark-background.region--separator-incline-diagonal:before,
.region--black-background + .region--black-background.region--separator-incline-diagonal:before {
  background: none;
}
@media (max-width: 767px) {
  .region--separator-incline-diagonal {
    padding-top: 100px;
  }
  .region--separator-incline-diagonal:before {
    height: 70px;
  }
}

/*decline diagonal*/
.region--separator-decline-diagonal {
  padding-top: 210px;
  position: relative;
  overflow: hidden;
}
.region--separator-decline-diagonal:before {
  position: absolute;
  top: 0;
  left: -5%;
  height: 140px;
  width: 110%;
  display: block;
}
//.region--white-background + .region--separator-decline-diagonal:before {
//  background: linear-gradient(to bottom left, #ffffff 49.5%, transparent 50%);
//}
//.region--gray-background + .region--separator-decline-diagonal:before {
//  background: linear-gradient(to bottom left, #f6f8f9 49.5%, transparent 50%);
//}
//.region--black-background + .region--separator-decline-diagonal:before {
//  background: linear-gradient(to bottom left, #232323 49.5%, transparent 50%);
//}
.region--white-background + .region--white-background.region--separator-decline-diagonal:before,
.region--gray-background + .region--gray-background.region--separator-decline-diagonal:before,
.region--colored-background + .region--colored-background.region--separator-decline-diagonal:before,
.region--dark-background + .region--dark-background.region--separator-decline-diagonal:before,
.region--black-background + .region--black-background.region--separator-decline-diagonal:before {
  background: none;
}
@media (max-width: 767px) {
  .region--separator-decline-diagonal {
    padding-top: 100px;
  }
  .region--separator-decline-diagonal:before {
    height: 70px;
  }
}

/*Bordered Container*/
.container--bordered-left {
  padding-left: 70px;
  border-width: 0 0 0 3px;
  border-color: #efefef;
  border-style: solid;
}

/*Custom Grid*/
.grid-gutter-0 {
  margin-right: 0px;
  margin-left: 0px;
}
.container-fluid .grid-gutter-0 {
  margin-right: -15px;
  margin-left: -15px;
}
.grid-gutter-0 .col-lg-6,
.grid-gutter-0 .col-lg-4,
.grid-gutter-0 .col-lg-3,
.grid-gutter-0 .col-md-6,
.grid-gutter-0 .col-md-4,
.grid-gutter-0 .col-md-3,
.grid-gutter-0 .col-sm-6,
.grid-gutter-0 .col-sm-4,
.grid-gutter-0 .col-sm-3,
.grid-gutter-0 .col-xs-6,
.grid-gutter-0 .col-xs-4,
.grid-gutter-0 .col-xs-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.grid-gutter-10 {
  margin-right: -10px;
  margin-left: -10px;
}
.container-fluid .grid-gutter-10 {
  margin-right: -15px;
  margin-left: -15px;
}
.grid-gutter-10 .col-lg-6,
.grid-gutter-10 .col-lg-4,
.grid-gutter-10 .col-lg-3,
.grid-gutter-10 .col-md-6,
.grid-gutter-10 .col-md-4,
.grid-gutter-10 .col-md-3,
.grid-gutter-10 .col-sm-6,
.grid-gutter-10 .col-sm-4,
.grid-gutter-10 .col-sm-3,
.grid-gutter-10 .col-xs-6,
.grid-gutter-10 .col-xs-4,
.grid-gutter-10 .col-xs-3 {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

/*Layout Mode*/
.boxed .banner__section {
  overflow: hidden;
}
@media (min-width:768px) {
  .boxed .page-container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
  }
  .boxed .page-container {
    width: 750px;
  }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 748px;
  }
}
@media (min-width:992px) {
  .boxed .page-container {
    width: 970px;
  }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 968px;
  }
}
@media (min-width:1200px) {
  .boxed .page-container {
    width: 1170px;
  }
  .onscroll.boxed .page-container .header-container .header.js-fixed {
    width: 1168px;
  }
}
