/**
 * @file
 * Styles for menus in Enterprise+.
 */

/*Menus*/
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.menu li {
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
}
ul.menu li a {
  padding: 8px 0 8px 25px;
  line-height: 150%;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #1C1F2A;
}
.sidebar__section ul.menu li a:hover {
  -ms-transform: translateX(5px);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.region--light-typography ul.menu li a.is-active,
.region--light-typography ul.menu li.active-trail > a {
  color: #ffffff;
}
.region--light-typography ul.menu li a:hover {
  text-decoration: underline;
}
.region--light-typography.region--dark-background ul.menu li a:hover {
  text-decoration: none;
}
ul.menu li.menu-item--expanded ul {
  padding-left: 25px;
}

.region--light-typography ul.menu li > a:before {
  color: #ffffff;
}

/*Main navigation*/
.header-container ul.menu {
  margin: 0;
  list-style: none;
}
.header__section ul.menu {
  padding: 15px 0;
}
.region-top-first ul.menu li {
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: none;
  z-index: 497;

  a {
    position: relative;
    margin: 0;
    top: 0;
    display: inline-block;
    position: relative;
    padding: 5px 15px;

    &:hover {
      color: #00A9E0;
    }
  }
}

#superfish-main > li {
  > a {
    &::after {
      content: '';
      display: block;
      height: 0;
      position: absolute;
      bottom: -23px;
      left: 0;
      width: 100%;
      background-color: #00A9E0;
      transition: height .5s ease;
    }
  }

  &.sfHover {
    a::after {
        height: 4px;
    }
  }
}

.header-container .region--light-typography ul.menu li a:hover,
.header-container .region--light-typography ul.menu li.active-trail > a {
  text-decoration: none;
}
.header-container ul.menu li a:before {
  content: "";
  width: 0;
  height: 0;
}
.header-container ul.menu ul.menu {
  display: none;
}
@media (max-width:1199px) {
  .header-container ul.menu li a {
    margin: 0;
    padding: 5px 15px;
  }
  .header-container ul.menu {
    text-align: left;
  }
}
@media (min-width: 992px) and (max-width:1199px) {
  .header-container .with-search-bar ul.menu > li > a {
    padding: 5px 15px;
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .header-container ul.menu li a {
    margin: 0 5px;
    padding: 5px 17px;
  }
}

/*header top*/
.header-top__section ul.menu {
  text-align: center;
}
.header-top__section ul.menu li a {
  text-transform: none;
  padding: 0 15px;
  line-height: 1.2;
  margin: 0;
}
.header-top__section ul.menu li:first-child a {
  padding-left: 0;
}
.header-top__section ul.menu li:last-child a {
  padding-right: 0;
}
@media (min-width: 768px) {
  .header-top-first ul.menu {
    text-align: left;
  }
  .header-top-second ul.menu {
    text-align: right;
  }
}

/*footer menu*/
.footer__section ul.menu li a {
  padding: 7px 0 8px 20px;
  text-decoration: none;
}
.footer__section ul.menu li a:hover {
  -ms-transform: translateX(5px);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
@media (max-width:767px) {
  .footer__section ul.menu {
    text-align: center;
  }
  .footer__section ul.menu li a {
    padding: 7px 20px 8px 20px;
  }
  .footer__section ul.menu li > a:before {
    content: "";
    width: 0px;
    height: 0px;
  }
}

/*Footer Bottom menu*/
.footer-bottom__section ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.footer-bottom__section ul.menu li {
  display: inline-block;
}
.footer-bottom__section ul.menu ul.menu {
  display: none;
}
.footer-bottom__section ul.menu li a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0 25px 0 23px;
  line-height: 1;
}
.footer-bottom__section ul.menu li:first-child a {
  padding-left: 0;
}
.footer-bottom__section ul.menu li:last-child a {
  padding-right: 0;
}
.footer-bottom__section ul.menu li a:before {
  content: "";
  width: 0;
  height: 0;
}
@media (max-width: 1199px) {
  .footer-bottom__section ul.menu li a {
    padding: 0 10px 0 8px;
  }
}
@media (max-width:991px) {
  .footer-bottom__section ul.menu {
    text-align: center;
    padding: 0 0 0 2px;
  }
}
@media (max-width:767px) {
  .footer-bottom__section ul.menu li {
    display: block;
    padding: 10px 20px;
  }
  .footer-bottom__section ul.menu li:last-child a,
  .footer-bottom__section ul.menu li:first-child a,
  .footer-bottom__section ul.menu li a {
    padding: 0 10px;
  }
}

/*Subfooter menu*/
.subfooter__section ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}
.subfooter__section.subfooter-first ul.menu {
  text-align: left;
}
.subfooter__section ul.menu li {
  display: inline-block;
}
.subfooter__section ul.menu ul.menu {
  display: none;
}
.subfooter__section ul.menu li a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0 25px 0 23px;
  line-height: 1;
}
.subfooter__section ul.menu li:first-child a {
  padding-left: 0;
}
.subfooter__section ul.menu li:last-child a {
  padding-right: 0;
}
.subfooter__section ul.menu li a:before {
  content: "";
  width: 0;
  height: 0;
}
@media (max-width: 1199px) {
  .subfooter__section ul.menu li a {
    padding: 0 10px 0 8px;
  }
}
@media (max-width: 991px) {
  .subfooter__section ul.menu {
    text-align: center;
    padding: 0 0 0 2px;
  }
}
@media (max-width: 767px) {
  .subfooter__section ul.menu li {
    display: block;
    padding: 10px 20px;
  }
  .subfooter__section ul.menu li:last-child a,
  .subfooter__section ul.menu li:first-child a,
  .subfooter__section ul.menu li a {
    padding: 0 10px;
  }
}

/*superfish support*/
.sf-menu ul {
  display: none;
}
.header-container .sf-menu li.sfHover {
  z-index: 498;
}
.header-container .sf-menu>li>ul {
  right: 0 !important;
}
.header-container .sf-menu.menu ul {
  display: none;
  background-color: #ffffff;
  margin-top: 23px;
  padding: 20px 0;
  text-align: left;
  left: -60px;
  top: 100%;
  -webkit-box-shadow: 1px 2px 16px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 2px 16px -4px rgba(0, 0, 0, 0.45);
}
.header-container .sf-menu ul li a {
  font-size: 14px;
  padding: 9px 0px 10px;
  display: block;
  text-transform: none;
  margin: 0 30px;
  border-bottom: 1px solid #e7e7e7;
  color: #1C1F2A;
}
.header-container .sf-menu ul li:last-child a {
  border-bottom: none;
}
.header-container .sf-menu.menu ul ul {
  top: -20px;
  margin-left: 0;
  margin-right: 15px;
  margin-top: 0;
}
@media (max-width: 992px) {
  .header-container .sf-menu.menu ul {
    margin-top: 20px;
  }
}

/*superfish menu arrows*/

.header-container ul.sf-menu ul li a.menuparent:after {
  font-family: 'FontAwesome';
  content: "\f105";
  right: auto;
  left: -15px;
  top: 9px;
  position: absolute;
  font-weight: 400;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-container ul.sf-menu>li>a.menuparent:after {

  }
}



.sf-accordion.sf-style-none.cta-active > li:last-child {
  text-align: center;
}
.sf-accordion.sf-style-none.cta-active > li:last-child > a {
  display: block;
  padding: 18px 25px 17px;
}
.region--colored-background .menu.cta-active > li:last-child > a {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.region--colored-background .menu.cta-active > li:last-child > a:hover {
  text-decoration: none;
  color: #ffffff;
}

/*Mobile Menu*/
.header-container .block-superfish {
  position: relative;
}
.header-container .sf-accordion-toggle.sf-style-none {
  text-align: right;
}
.header-container .sf-accordion-toggle.sf-style-none a {
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 100;
  padding: 5px 10px 5px;
  display: inline-block;
  text-decoration: none;
}
.with-search-bar .sf-accordion-toggle.sf-style-none a {
  top: -39px;
}
.header-container .sf-accordion-toggle.sf-style-none a:after {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 24px;
  line-height: 1;
}
.header-container .sf-accordion-toggle.sf-style-none a.sf-expanded {
  position: relative;
  right: auto;
  z-index: auto;
}
.header-container .sf-accordion-toggle.sf-style-none a.sf-expanded:after {
  content: "\f00d";
}
.header-container .sf-accordion-toggle.sf-style-none span {
  display: none;
}
.header-container ul.menu.sf-accordion {
  padding: 0;
  text-align: left;
  background: #f6f8f9;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
.header-container ul.menu.sf-accordion ul {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}
.header-container ul.menu.sf-accordion li a {
  border-bottom: 1px solid #eaeaea;
  text-transform: none;
  margin: 0;
  padding: 15px 30px;
  font-size: 13px;
}
.header-container ul.menu.sf-accordion li:last-child > a {
  border-bottom-color: transparent;
}
.header-container ul.menu.sf-accordion ul li a {
  padding-left: 45px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.header-container ul.menu.sf-accordion ul ul li a {
  padding-left: 60px;
}
.header-container ul.menu.sf-accordion ul ul ul li a {
  padding-left: 75px;
}
.header-container ul.menu.sf-accordion ul ul ul ul li a {
  padding-left: 90px;
}
@media (max-width: 480px) {
  .header-container .sf-accordion-toggle.sf-style-none a,
  .header-container .sf-accordion-toggle.sf-style-none a.sf-expanded {
    right: -7px;
  }
}

/*mobile menu arrows*/
.header-container ul.sf-accordion li a.menuparent:after {
  content: "\f067";
  font-family: 'FontAwesome';
  position: absolute;
  border-left: 1px solid #eaeaea;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 52px;
  width: 50px;
  height: 50px;
}
.header-container ul.sf-accordion li.sf-expanded>a.menuparent:after {
  content: "\f068";
}
.header-container ul.sf-accordion ul li a.menuparent:after {
  content: "\f067";
  top: 0;
  right: 0;
  left: auto;
}

/*Mobile Menu at slideout region*/
.slideout .block-superfish {
  position: relative;
}
.slideout .sf-accordion-toggle.sf-style-none {
  display: none;
}
.slideout ul.menu.sf-accordion {
  padding: 0;
  text-align: left;
  background: #f6f8f9;
  border-radius: 5px;
  border-width: 0;
  display: block;
}
.slideout ul.menu.sf-accordion ul {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: #ffffff;
}
.slideout ul.menu.sf-accordion li a {
  border-bottom-width: 0;
  text-transform: none;
  margin: 0;
  padding: 15px 0;
  font-size: 13px;
}
.slideout ul.menu.sf-accordion li:last-child > a {
  border-bottom-color: transparent;
}
.slideout ul.menu.sf-accordion ul li a {
  padding-left: 20px;
  border-top-width: 0;
}
.slideout ul.menu.sf-accordion ul ul li a {
  padding-left: 30px;
}
.slideout ul.menu.sf-accordion ul ul ul li a {
  padding-left: 45px;
}
.slideout ul.menu.sf-accordion ul ul ul ul li a {
  padding-left: 60px;
}
.slideout .sf-accordion.sf-style-none.cta-active > li:last-child > a {
  margin-top: 10px;
}

/*mobile menu arrows*/
.slideout ul.sf-accordion li > a:before {
  content: "";
}
.slideout ul.sf-accordion li a.menuparent:after {
  content: "\f067";
  font-family: 'FontAwesome';
  position: absolute;
  border-left-width: 0;
  top: 0;
  right: 10px;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 52px;
  width: 50px;
  height: 50px;
}
.slideout ul.sf-accordion li.sf-expanded>a.menuparent:after {
  content: "\f068";
}
.slideout ul.sf-accordion ul li a.menuparent:after {
  content: "\f067";
  top: 0;
  right: 0;
  left: auto;
}

/*Mobile menu @colored regions*/
.region--light-typography ul.menu.sf-accordion {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.1);
}
.region--light-typography ul.menu.sf-accordion ul {
  background-color: transparent;
}
.region--light-typography ul.menu.sf-accordion li a {
  border-bottom-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.region--light-typography ul.menu.sf-accordion ul li a {
  border-top-color: rgba(255, 255, 255, 0.1);
}
.region--light-typography ul.sf-accordion li a.menuparent:after {
  border-color: rgba(255, 255, 255, 0.1);
}
