.region-top-second {
  padding: 23px 0;
  .menu {

  }

  .menu-item {
    display: inline-block;
    &:not(:last-child)::after {
      content: '|';
      display: inline-block;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px;
      font-size: 0.8em;
      color: #1C1F2A;
      transition: color .15s ease;
      &:hover {
        color: #00A9E0;
      }
    }
  }
}