.region-footer-bottom {
  position: relative;
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #76787f;
  font-size: 0.7em;
  color: #494b54;

  &::before {
    position: absolute;
    top: -14px;
    content: '';
    display: block;
    width: 140px;
    height: 25px;
    background-color: white;
    background-image: url("../logo.png");
    background-size: contain;
    background-repeat: no-repeat;

  }

  .block {
    display: inline-block;
  }

  #block-enterpriseplus-footer {
    margin-left: 230px;
  }

  .menu {
    &::after, &::before {
      content: none;
    }
    .menu-item {
      display: inline-block;
      vertical-align: middle;
      &:not(:last-child)::after {
        content: '|';
        display: inline-block;
        vertical-align: middle;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        padding: 2px;
        color: #494b54;

        &:hover {
          color: #00A9E0;
        }
      }
    }
  }
}