/**
 * @file
 * Visual styles for the site branding block in Enterprise+.
 */
.logo {
  float: left;
  margin: 8px 60px 10px 10px;
  display: inline-block;
}
.logo:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.site-name a {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
  display: none;
}
.region--light-typography .site-name a {
  color: #ffffff;
}
.site-name a:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.site-slogan {
  font-size: 16px;
  line-height: 1.20;
  padding-left: 15px;
  font-style: italic;
}
@media (min-width:992px) and (max-width:1199px) {
  .site-name {
    margin-top: 5px;
  }
  .site-slogan {
    font-size: 12px;
  }
}
@media (max-width:767px) {
  .logo {
    float: none;
    margin-right: 0;
    display: block;
    text-align: center;
    display: block;
    visibility: visible;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
  }
  .site-name,
  .site-slogan {
    text-align: center;
  }
  .site-name {
    margin: 5px 0 0 0;
  }
  .site-slogan {
    display: block;
    visibility: visible;
    padding: 5px 0 0 0;
  }
}

/* Site Branding @footer*/
.footer__section .logo-and-site-name-wrapper {
  margin: 0 0 15px;
}
.footer__section .site-name a {
  font-size: 23px;
  font-weight: 600;
}

/* Site Branding @dark regions*/
.region--dark-background .site-slogan,
.region--black-background .site-slogan {
  color: rgba(255, 255, 255, 0.70);
}
