$c-1: #0066CC; // Menu background, Site name
$c-2: #252525; // Headers text
$c-3: white; // Button background
$c-4: #333; // Headlight
$c-5: #666; // Headlight
$c-6: #ccc; // Headlight
$color-font: #252525;
$color-cart: #936591;
$ff-1: Arial, Helvetica, sans-serif;
$ff-2: Martel, serif;
$ff-3: 'Noto Serif', serif;
$fs-1: 14px;
$fs-2: 22px;
$fs-3: 18px;
$fs-4: 16px;
$fs-5: 10px;

$tablet-width: 640px;
$desktop-width: 960px;
$wide-desktop-width: 1200px;
$extra-wide-desktop-width: 1600px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin wide {
  @media (min-width: #{$wide-desktop-width}) {
    @content;
  }
}
@mixin x-wide {
  @media (min-width: #{$extra-wide-desktop-width}) {
    @content;
  }
}

@mixin max-width {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
@mixin transition ($time: 0.5s) {
  transition: all $time ease-in-out;
}
