{#
/**
 * @file
 * Enterprise+'s theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.slideout: Items for the Slideout region.
 * - page.header_top_highlighted_first: Items for the Header Top Highlighted First region.
 * - page.header_top_highlighted_second: Items for the Header Top Highlighted Second region.
 * - page.header_top_first: Items for the Header Top First region.
 * - page.header_top_second: Items for the Header Top Second region.
 * - page.header_first: Items for the Header First region.
 * - page.header: Items for the Header Second region.
 * - page.navigation: Items for the Navigation region.
 * - page.search_area: Items for the Navigation search area region.
 * - page.banner: Items for the Banner region.
 * - page.content_top: Items for the Content Top region.
 * - page.content_top_highlighted: Items for the Content Top Highlighted region.
 * - page.content: Items for the Content region.
 * - page.sidebar_first: Items for the First Sidebar region.
 * - page.sidebar_second: Items for the Second Sidebar region.
 * - page.content_bottom_first: Items for the Content Bottom First region.
 * - page.content_bottom_second: Items for the Content Bottom Second region.
 * - page.featured_top: Items for the Featured Top region.
 * - page.featured: Items for the Featured region.
 * - page.featured_bottom: Items for the Featured Bottom region.
 * - page.sub_featured: Items for the Sub Featured region.
 * - page.breadcrumb: Items for the Breadcrumb region.
 * - page.highlighted: Items for the Highlighted region.
 * - page.media_background_first: Items for the Highlighted Bottom First region.
 * - page.media_background_second: Items for the Highlighted Bottom Second region.
 * - page.footer_top_first: Items for the Footer Top First region.
 * - page.footer_top_second: Items for the Footer Top Second region.
 * - page.footer_first: Items for the Footer First region.
 * - page.footer_second: Items for the Footer Second region.
 * - page.footer_third: Items for the Footer Third region.
 * - page.footer_fourth: Items for the Footer Fourth region.
 * - page.footer_fifth: Items for the Footer Fifth region.
 * - page.footer_bottom: Items for the Footer Bottom region.
 * - page.sub_footer_first: Items for the Subfooter First region.
 * - page.footer: Items for the Subfooter Second region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% if page.slideout %}
  {# slideout #}
  <div class="clearfix slideout {{ slideout_background_color }}">
    {# slideout__container #}
    <div class="clearfix slideout__container">
      <div class="slideout__section">
        {{ page.slideout }}
      </div>
    </div>
    {# EOF:slideout__container #}
  </div>
  {# EOF: slideout #}

  {# EOF: slideout-toggle #}
  <button class="slideout-toggle slideout-toggle--fixed"><i class="fa fa-align-justify"></i></button>
  {# EOF: slideout-toggle #}
{% endif %}

{# page-container #}
<div class="page-container">

  {% if page.header_top_first or page.header_top_second or page.header_first or page.header or page.search_area or page.navigation or page.header_top_highlighted_first or page.header_top_highlighted_second %}
    {# header-container #}
    <div class="header-container">

      {% if page.header_top_first or page.header_top_second %}
        {# header-top #}
        <div class="clearfix header-top {{ header_top_background_color }}">
          <div class="{{ header_top_layout_container }}">
            {# header-top__container #}
            <div class="clearfix header-top__container{{ (header_top_animations == "enabled") ? ' fade' : '' }}"
              {% if header_top_animations == "enabled" %}
                data-animate-effect="{{ header_top_animation_effect }}"
              {% endif %}>
              <div class="row">
                {% if page.header_top_first %}
                  <div class="{{ header_top_first_grid_class }}">
                    {# header-top-first #}
                    <div class="clearfix header-top__section header-top-first">
                      {{ page.header_top_first }}
                    </div>
                    {# EOF:header-top-first #}
                  </div>
                {% endif %}
                {% if page.header_top_second %}
                  <div class="{{ header_top_second_grid_class }}">
                    {# header-top-second #}
                    <div class="clearfix header-top__section header-top-second">
                      {{ page.header_top_second }}
                    </div>
                    {# EOF:header-top-second #}
                  </div>
                {% endif %}
              </div>
            </div>
            {# EOF: header-top__container #}
          </div>
        </div>
        {# EOF: header-top #}
      {% endif %}

      {% if page.header_first or page.header or page.search_area or page.navigation %}
        {# header #}
        <header role="banner" class="clearfix header region--dark-typography region--white-background {{ header_layout_container_class }} {{ header_layout_columns_class }}">
          <div class="{{ header_layout_container }}">
            {# header__container #}
            <div class="clearfix header__container">
              <div class="row">
                  {% if page.header_first %}
                    <div class="col-md-3">
                        {# header-first #}
                      <div class="clearfix header__section header-first">
                          {{ page.header_first }}
                      </div>
                        {# EOF:header-first #}
                    </div>
                  {% endif %}
                  {% if page.top_first %}
                      <div class="col-md-7">
                          {{ page.top_first }}
                      </div>
                  {% endif %}
                  {% if page.top_second %}
                      <div class="col-md-2">
                          {{ page.top_second }}
                      </div>
                  {% endif %}
              </div>
            </div>
            {# EOF: header__container #}
          </div>
          {% if post_progress_status == "enabled" %}
            {# post-progress #}
            <div class="post-progress">
              <div class="post-progress__bar"></div>
            </div>
            {# EOF: post-progress #}
          {% endif %}
        </header>
        {# EOF: header #}
      {% endif %}

    </div>
    {# EOF: header-container #}
  {% endif %}

  {% if page.banner %}
    {# banner #}
    <div class="clearfix banner">
      {# banner__section #}
      <div class="clearfix banner__section">
        {{ page.banner }}
      </div>
      {# EOF: banner__section #}
    </div>
    {# EOF:banner #}
  {% endif %}

  {# page-start #}
  <div id="page-start" class="clearfix page-start"></div>

  {% if page.system_messages %}
    <div class="system-messages clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ page.system_messages }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.content_top %}
    {# content-top #}
    <div class="clearfix content-top {{ content_top_background_color }}">
      <div class="{{ content_top_layout_container }}">
        {# content-top__container #}
        <div class="clearfix content-top__container{{ (content_top_animations == "enabled") ? ' fade' : '' }}"
          {% if content_top_animations == "enabled" %}
            data-animate-effect="{{ content_top_animation_effect }}"
          {% endif %}>
          <div class="row">
            <div class="col-md-12">
              <div class="content-top__section">
                {{ page.content_top }}
              </div>
            </div>
          </div>
        </div>
        {# EOF:content-top__container #}
      </div>
    </div>
    {# EOF: content-top #}
  {% endif %}

  {% if page.content_top_highlighted %}
    {# content-top-highlighted #}
    <div class="clearfix content-top-highlighted {{ content_top_highlighted_background_color }} {{ content_top_highlighted_separator }}">
      <div class="{{ content_top_highlighted_layout_container }}">
        {# content-top-highlighted__container #}
        <div class="clearfix content-top-highlighted__container{{ (content_top_highlighted_animations == "enabled") ? ' fade' : '' }}"
          {% if content_top_highlighted_animations == "enabled" %}
            data-animate-effect="{{ content_top_highlighted_animation_effect }}"
          {% endif %}>
          <div class="row">
            <div class="col-md-12">
              <div class="content-top-highlighted__section">
                {{ page.content_top_highlighted }}
              </div>
            </div>
          </div>
        </div>
        {# EOF:content-top-highlighted__container #}
      </div>
    </div>
    {# EOF: content-top-highlighted #}
  {% endif %}


  {# main-content #}
  <div class="clearfix main-content region--dark-typography region--white-background  {{ main_content_separator }}">
    <div class="container">
      <div class="clearfix main-content__container">
        <div class="row">
          <section class="{{ main_grid_class }}">
            {# main #}
            <div class="clearfix main-content__section{{ (main_content_animations == "enabled") ? ' fade' : '' }}"
              {% if main_content_animations == "enabled" %}
                data-animate-effect="{{ main_content_animation_effect }}"
              {% endif %}>
              {% if page.content %}
                {{ page.content }}
              {% endif %}
            </div>
            {# EOF:main #}
          </section>
          {% if page.sidebar_first %}
            <aside class="{{ sidebar_first_grid_class }}">
              {# sidebar-first #}
              <section class="sidebar__section sidebar-first clearfix{{ (sidebar_first_animations == "enabled") ? ' fade' : '' }}"
                {% if sidebar_first_animations == "enabled" %}
                  data-animate-effect="{{ sidebar_first_animation_effect }}"
                {% endif %}>
                {{ page.sidebar_first }}
              </section>
              {# EOF:sidebar-first #}
            </aside>
          {% endif %}
          {% if page.sidebar_second %}
            <aside class="{{ sidebar_second_grid_class }}">
              {# sidebar-second #}
              <section class="sidebar__section sidebar-second clearfix{{ (sidebar_second_animations == "enabled") ? ' fade' : '' }}"
                {% if sidebar_second_animations == "enabled" %}
                  data-animate-effect="{{ sidebar_second_animation_effect }}"
                {% endif %}>
                {{ page.sidebar_second }}
              </section>
              {# EOF:sidebar-second #}
            </aside>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {# EOF:main-content #}


  {% if page.featured_top %}
    {# featured-top #}
    <div class="clearfix featured-top {{ featured_top_background_color }} {{ featured_top_separator }}">
      <div class="{{ featured_top_layout_container }}">
        {# featured-top__container #}
        <div class="clearfix featured-top__container{{ (featured_top_animations == "enabled") ? ' fade' : '' }}"
          {% if featured_top_animations == "enabled" %}
            data-animate-effect="{{ featured_top_animation_effect }}"
          {% endif %}>
          <div class="row">
            <div class="col-md-12">
              <div class="clearfix featured-top__section">
                {{ page.featured_top }}
              </div>
            </div>
          </div>
        </div>
        {# EOF:featured-top__container #}
      </div>
    </div>
    {# EOF: featured-top #}
  {% endif %}

  {% if page.highlighted %}
    {# highlighted #}
    <div class="clearfix highlighted {{ highlighted_background_color }} {{ highlighted_separator }}">
      <div class="{{ highlighted_layout_container }}">
        {# highlighted__container #}
        <div class="clearfix highlighted__container{{ (highlighted_animations == "enabled") ? ' fade' : '' }}"
          {% if highlighted_animations == "enabled" %}
            data-animate-effect="{{ highlighted_animation_effect }}"
          {% endif %}>
          <div class="row">
            <div class="col-md-12">
              <div class="clearfix highlighted__section">
                {{ page.highlighted }}
              </div>
            </div>
          </div>
        </div>
        {# EOF:highlighted__container #}
      </div>
    </div>
    {# EOF: highlighted #}
  {% endif %}

  <footer class="footer">
      {% if page.footer_menu %}
          {{ page.footer_menu }}
      {% endif %}

      {% if page.footer %}
          {{ page.footer }}
      {% endif %}

      {% if page.footer_bottom %}
          {{ page.footer_bottom }}
      {% endif %}
  </footer>




  {% if scroll_to_top_display %}
  {# to-top #}
    <div class="to-top">{{ scroll_to_top_text }}</div>
  {# EOF:to-top #}
  {% endif %}

</div>
{# EOF: page-container #}
